*{
    font-family: "Montserrat", sans-serif;
    padding: 0px;
    margin: 0px;
}

header{
    background-color: #d9dfa7;
    color: black;
    display: flex;
    align-items: center;
    padding-left: 10px;
    height: 40px;
    transition: 0.3s;
}

#logoofa{
    width: auto;
    height: 1rem;
    margin-right: 10px;
}

nav ul{
    display: flex;
    list-style-type: none;
}

header ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    transition: 0.3s;
    padding-inline: 20px;
    height: 40px;
}

header ul li:hover{
    background-color: #fbffdc;
}

li img{
    width: 25px;
    height: 25px;
}

.navegationbar{
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: black;
    margin: 10px;
    height: 50px;
    border-radius: 30px;
}

.navegationbar ul li{
    border-left: solid #1f1f1f 2px;
    padding-inline: 20px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.navegationbar ul li:hover{
    background-color: #1f1f1f;
}

.navegationbar ul li img{
    filter: invert(100%);
}

#navlogoofa{
    width: auto;
    height: 20px;
    padding-left: 20px;
}

#editpress{
    border-radius: 0px 30px 30px 0px;
    padding-right: 30px;
}

footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.contact ul{
    list-style: none;
}