*{
    font-family: "Montserrat", sans-serif;
    padding: 0px;
    margin: 0px;
}

header{
    background-color: #424242;
    color: white;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    height: 40px;
    transition: 0.3s;
}

#logoofa{
    width: auto;
    height: 1rem;
}

nav ul{
    display: flex;
    list-style-type: none;
}

li{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    transition: 0.3s;

    border-left: solid white 1px;
    padding-inline: 20px;
    height: 40px;
}

li:hover{
    background-color: #616161;
}

li img{
    filter: invert(100%);
    width: 20px;
    height: 20px;
}